.container {
    
    max-width: 900px;
    max-height: 704px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 25px 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button_forward {
        background: #5558FA;
        border-radius: 4px;
        color: white;
        width: 79px;
        height: 44px;
        border: 1.5px solid #5558FA;
        border-radius: 4px;
    }

    .button_back {
        color: #5558FA;
        width: 79px;
        height: 44px;
        background-color: #FFFFFF;
        border: 1.5px solid #5558FA;
        border-radius: 4px;
    }
    

    .header_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        // width: 50%;

        .image {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: #D5E4F7;
            box-sizing: border-box;
        }

        .title_box {
            display: flex;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;

            .title {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: #333333;
                width: 100%;
                box-sizing: border-box;
            }

            .list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style-image: url('../images/Folder.png');
                padding: 5px;

                li {
                    margin-left: 35px;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }  
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        max-width: 400px;
        min-width: 120px;
        width: 90%;
    
        .input_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;
            width: 100%;

            label {
                margin-bottom: 8px;
            }
            // margin: 8px;
    
            input, 
            select {
                background: rgba(0, 0, 0, 0.04);
                border: 1px solid rgba(0, 0, 0, 0.16);
                border-radius: 4px;
                width: 100%;
                box-sizing: border-box;
                height: 44px;
            }

            legend {
                padding: 0;
                text-align: left;
                margin: 8px 0;
            }

            .fieldset {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0;
                padding: 0;
                border: 0;

                
                label {
                    
                    height: 20px;
                    margin: 0;
                    display: flex;                    

                    input {                        
                        height: 100%;
                        margin: 0;
                        margin-right: 8px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                width: 100%;
                box-sizing: border-box;
                
                li {
                    
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;

                }
            }

            p {
                color: red;
                font-style: italic;
                font-size: small;
            }
        }
        
        .button_box {    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            
        }
    }
}


* {
    outline: 1px solid red;
}