.container {
    
    max-width: 900px;
    max-height: 704px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 25px 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .header_box {
        display: flex;
        flex-direction: row;
        align-items: center;

        .image {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: #D5E4F7;
        }

        .title_box {
            display: flex;
            flex-direction: column;

            .title {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: #333333;
            }

            .list {
                display: flex;
                flex-direction: row;
                list-style-image: url('../images/Folder.png');
                padding: 5px;

                li {
                    margin-left: 35px;
                }
            }
        }
    }  
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        .input_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;
    
            input, 
            select {
                background: rgba(0, 0, 0, 0.04);
                border: 1px solid rgba(0, 0, 0, 0.16);
                border-radius: 4px;
                width: 400px;
                height: 44px;
            }

            .fieldset {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0;
                padding: 0;
                border: 0;

                legend {
                    padding: 0;
                    text-align: left;
                }

                label {
                    width: 20px;
                    height: 20px;
                    margin: 0;
                    display: flex;                    

                    input {                        
                        height: 100%;
                        margin: 0;
                        margin-right: 8px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                
                li {
                    margin: 8px;

                }
            }

            button {
                background: #5558FA;
                border-radius: 4px;
                color: white;
                width: 79px;
                height: 44px;
                margin: 8px;
            }

            p {
                color: red;
                font-style: italic;
            }
        }
        
        .button_box {
    
            display: flex;
            flex-direction: row;
    
            button {
                background: #5558FA;
                border-radius: 4px;
                color: white;
                width: 79px;
                height: 44px;
            }
        }
    }
}


// * {
//     outline: 1px solid red;
// }